ul#slide-out.side-nav
    #profile
        div
            img(class="responsive-img circle" src="http://fc05.deviantart.net/fs71/f/2013/065/f/5/goku_chico_by_bardocksonic-d5x53re.png")
            hr(color="#e8e8e8")
            
    .center-align
        a(href="/")
            li HOME
        a(href="/browse")
            li BROWSE
        a(href="/library")
            li LIBRARY
        a(href="/random")
            li RANDOM
        a(href="/news")
            li NEWS
        li.no-padding
            ul(class="collapsible collapsible-accordian")
                li
                    a(href="#!" class="collapsible-header" style="margin-left: 0%") BOOKMARK
                    .collapsible-body
                        ul
                            a(herf="#")
                                li SHINGEKI NO KYOJIN - 56
                            a(herf="#")
                                li HUNTER X HUNTER - 132
                            a(herf="#")
                                li KUROKO NO BASKET - 12
                            a(herf="#")
                                li MAGI - 320
        a(href="/reviews")
            li REVIEWS
        a(href="/blog")
            li BLOG
        a(href="/shop")
            li SHOP