#featured {
    padding: 0px 25px;
}

#news-slide {
	overflow: hidden;
	height: 450px;
}

#news-slide div, img, .row {
	padding: 0px;
	margin: 0px;
	display: table;
	max-height: 450px;
}

.see-all {
	padding: 10px;
	font-size: 15px;
}